
* {
  margin: 0; /*é o espaço por fora de um elemento*/
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /*tipo de letra; fonte*/
}

body {
  height: 100vh; /*Faz o fundo ocupar a tela inteira*/
  background: #6495ED;
  display: flex; /*Ativa a flexbox, que ajuda a centralizar elementos, distribuir espaço etc*/
  justify-content: center; /*Centraliza na horizontal*/
  align-items: center; /*Centraliza na vertical*/
 }

.container {

    background-color: white;
    padding: 40px; /*espaço interno da caixa*/
  border-radius: 30px; /*arredonda a bordinha*/
  width: 300px; /*largura da caixa*/
  height: 300px;
  text-align: center; /* Centraliza o conteúdo dentro da caixa*/
}

.container h1 {
    color: #00008B;
    font-size: 26px;
}

.container input {
    width: 100%;
  padding: 12px;
  margin: 10px 0; /*10px em cima e embaixo, e 0 nas laterais*/ 
  border: 2px solid #00008B ;
  background-color: white; /* a cor do fundo dentro do campo*/
  border-radius: 20px;
  font-size: 14px; /*tamanho da fonte*/
  color: #00008B; /*cor do texto digitado*/
}

.container input::placeholder {
    color: #00008B;
}

.container button {
  width: 100%;
  padding: 12px;
  background-color: #00008B;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer; /*faz virar uma mãozinha quando passa o mouse, pra clicar*/
}

.container button a {
    color: white;
    text-decoration: none;

}

.container button:hover /* o hover faz mudar a cor do botão quando passa o mouse por cima*/{
  background-color: #000064 ;
}