* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 1.6;
   background-color: #6495ED;
}

header {
    background-color: #00008B;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo-coraline {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.coraline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    max-width: 1000px;
    
}

.foto {
  align-self: flex-start;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 5px black;
  flex-shrink: 0;
}

.texto {
    max-width: 600px;
    
}

.texto h2 {
   color: white;
   font-size: 50px;
   margin-bottom: 15px;
   text-shadow: 2px 2px 5px #00008B;
}

.texto p {
   font-family: Arial, Helvetica, sans-serif;
   color: #00008B;
   width: 900px;
   font-size: 17px;
   line-height: 1.8;
   text-align: justify;
}

.pais {
    text-align: left;
    margin: 50px;
   position: static;
}

.pais h2 {
    font-size: 30px;
    color: white;
     text-shadow: 2px 2px 5px #00008B;
}

.pais p {
    font-family: Arial, Helvetica, sans-serif;
    color: #00008B;
    text-align: justify;
   font-size: 17px;
   line-height: 1.8;
}

.wybie {
   text-align: left;
    margin: 50px;
   position: static;
 
}

.wybie h2 {
    font-size: 30px;
    color: white;
     text-shadow: 2px 2px 5px #00008B;
}

.wybie p {
    font-family: Arial, Helvetica, sans-serif;
    color: #00008B;
   text-align: justify;
   font-size: 17px;
   line-height: 1.8;
   
}

.filme {
    text-align: left;
    margin: 50px;
   position: static;
  
}

.filme h2 {
 font-size: 30px;
    color: white;
     text-shadow: 2px 2px 5px #00008B;
}

.filme p {
   font-family: Arial, Helvetica, sans-serif;
    color: #00008B;
   text-align: justify;
   font-size: 17px;
   line-height: 1.8;
}


.rodape {
    background-color: #00008B;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
